<%- include('../../partials/header') %>

<h2>Flight</h2>
<form action="/flights/<%=flight._id%>/tickets" method="POST">
  <br />
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?" />
  <br />
  <label>Price:</label>
  <input type="number" min="0" name="price" required />
  <br />
  <input type="submit" value="Add Ticket" />
</form>

<%- include('../../partials/footer') %>
